.company-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
}
.company-logo{
    height: 130px;
    object-fit: contain;
}
.company-card{
    box-shadow: 3px 3px 16px rgba(0,0,0,0.3);
    border-radius: 20px;
    border-bottom: 7px solid #000;
    max-width: 340px;
}

.company-name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.see-more,
.see-more:hover,
.see-more:focus,
.see-more:active{
    background-color: #000;
    border-color: #000;
}