.search-button,
.search-button:active,
.search-button:focus,
.search-button:hover{
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    border-color: #fff;
}

.search-component{
    z-index: 100;
}